*{
    background-color: blanchedalmond;
    align-items: center;
}
.text{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 75px;
    padding: none;
    background-color: none;
    line-height: 20px;
}
img{
    height: 150px;
    width: 150px;
}
.buttons{
    display: flex;
    justify-content: center;    
}
.head{
    border: none;
    outline: auto;
    outline-color: peachpuff ;
    background-color: white;
}
.tail{
    margin-left: 30px;
    border: none;
    outline: auto;
    outline-color: peachpuff ;
    background-color: white;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 1.5rem; 
    }

    .buttons {
        margin: auto; 
        max-width: 90%;
    }

    img {
        height: 100px; 
        width: 100px;
    }

    .reset-container {
        text-align: center;
        margin-top: 20px; 
    }

    .reset {
        padding: 10px; 
        font-size: 1.5rem; 
    }
}


    .reset-container {
        text-align: center; 
        margin-top: 20px; 
    }
    
.message{
    text-align: center;
    font-size: 20px;
}
.score{
    text-align: center;
    font-size: 20px;
}