*{
    background-color: blanchedalmond;
}
.text{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 75px;
    padding: none;
    background-color: none;
}


img{
    height: 150px;
    width: 150px;
}
.head{
    margin-left: 39%;
    border: none;
    outline: auto;
    outline-color: peachpuff ;
    background-color: white;
}
.tail{
    margin-left: 2%;
    border: none;
    outline: auto;
    outline-color: peachpuff ;
    background-color: white;
}
@media (max-width: 768px) {
    .head,
    .tail {
        margin-left: 5%; /* Adjust as needed for smaller screens */
    }
}

/* Media Query for Even Smaller Screens */
@media (max-width: 480px) {
    .head,
    .tail {
        margin-left: 2%; /* Adjust as needed for even smaller screens */
    }
}